<html>

<head>
    <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <style>

        .seconde-item{
            padding-left: 40px;
        }
        .fullBox{
            margin: 20px;
        }

    </style>

</head>


<body>

<div class="fullBox">
    <h4>目录管理</h4>
    <div style="  border: 1px solid #DDDDDD; padding:5px 10px;">
    <a href="/admin/product/addFristBrand"> <button type="button" class="btn btn-info" style="margin-right: 30px; width: 120px; height: 40px;">添加一级目录</button></a>
        <a href="/admin/product/showAddSecondBrand">  <button type="button" class="btn btn-info" style="margin-right: 30px; width: 120px; height: 40px;">添加二级目录</button></a>
        <span style="margin-left: 20px; color: #00be67; font-size: 15px;">共有<{$size}>个一级栏目</span>
    </div>

    <{foreach name='list' item='category'}>
    <div class="list-group" style=" margin-top: 20px;">
        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-align-justify"></span>
            <{$category.category_name}>
            <span class="badge">一级栏目</span>
        </a>
        <{foreach name='category.item' item='items'}>
        <div href="#" class="list-group-item seconde-item">
            <span class="glyphicon glyphicon-th-large"></span>
            <{$items.item_name}>
            <span class="badge">二级栏目</span>
            <span class="badge"> <a href="#">编辑</a></span>
        </div>
        <{/foreach}>
    </div>
    <{/foreach}>


</div>
</body>


</html>